body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.arrow-icon {
  display: inline-block;
  transition: transform 0.3s ease;
}

.arrow-btn:hover .arrow-icon{
  transform: rotate(45deg);
  /* Xoay 90 độ để thành mũi tên ngang */
}